#Compiled files
Server-C/client
Server-C/server

#vscode files
.vscode/settings.json
.vscode/**

#Database files
Server-C/database/TODO.md
Server-C/database/a.out

#Idea/Android files
.idea/*
/.idea/
Client-Andorid/local.properties
Server-C/bin/server
Client-Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock

Client-Android/.gradle/file-system.probe
Client-Android/.gradle/7.4/executionHistory/executionHistory.lock
Client-Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Client-Android/.gradle/7.4/fileHashes/fileHashes.lock

#Valentina 
Server-C/s_build_and_run.sh
Server-C/src/s_build_and_run.sh
Server-C/src/server
Server-C/src/database/database.c
Server-C/src/database/database.db
